{% extends "base.html" %}

{% block content %}

    <h1>Изменить продукт</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
        </p>
        <p>
            {{ form.type.label }}<br>
            {{ form.type(class="form-control") }}<br>
        </p>
        <p>
            {{ form.expiration.label }}<br>
            {{ form.expiration(class="form-control") }}<br>
        </p>
        <p>{{ form.ready_to_use() }} {{ form.ready_to_use.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    </form>

{% endblock %}