{% extends "base.html" %}

{% block content %}
    <h1>Распознать продукт</h1>
    {{message}}
    <form action="" method="post" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <p>
            {{ form.photo.label }}<br>
            {{ form.photo(class="form-control") }}<br>
        </p>
        <hr>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <a class="link-primary" href="/recipes">Назад к списку продуктов</a>
    </form>

{% endblock %}